---
- name: autoupdate-RedHat | Set correct automatic update utility vars (RHEL >= 8).
  ansible.builtin.set_fact:
    update_conf_path: /etc/dnf/automatic.conf
    update_service: dnf-automatic-install.timer
    update_utility: dnf-automatic
  when: ansible_distribution_major_version | int >= 8
- name: autoupdate-RedHat | Set correct automatic update utility vars (RHEL <= 7).
  ansible.builtin.set_fact:
    update_conf_path: /etc/yum/yum-cron.conf
    update_service: yum-cron
    update_utility: yum-cron
  when: ansible_distribution_major_version | int <= 7
- name: autoupdate-RedHat | Install automatic update utility.
  ansible.builtin.package:
    name: "{{ update_utility }}"
    state: present
- name: autoupdate-RedHat | Ensure automatic update utility is running and enabled on boot.
  ansible.builtin.service:
    enabled: true
    name: "{{ update_service }}"
    state: started
- name: autoupdate-RedHat | Configure autoupdates.
  ansible.builtin.lineinfile:
    dest: "{{ update_conf_path }}"
    line: apply_updates = yes
    mode: "0644"
    regexp: ^apply_updates = .+
  when:
    - security_autoupdate_enabled
    - ansible_distribution_major_version | int in [7, 8]
