---
- name: sepolicy-RedHat | Check if SSH port is already allowed in SELinux (RedHat)
  ansible.builtin.shell: semanage port -lC | grep {{ security_ssh_port }}
  ignore_errors: true
  register: allowed
- name: sepolicy-RedHat | Allow SSH to run on {{ security_ssh_port }} (RedHat)
  ansible.builtin.command: semanage port -a -t ssh_port_t -p tcp {{ security_ssh_port }}
  when: allowed.rc != 0
